# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DNA_SWEEP_LEFT

config ZMK_KEYBOARD_NAME
	default "DNA Sweep"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_DNA_SWEEP_LEFT || SHIELD_DNA_SWEEP_RIGHT

config ZMK_SPLIT
	default y

endif
